---
import HomeLayout from '@/layouts/HomeLayout.astro'

import type { Project as ProjectType } from '@/api'
import Project from '@/components/Project.astro'
import { getProjects } from '@/api'

const projects = await getProjects()

---

<HomeLayout title="Palma Studio">
	<main>
		<div class="project-list">
			{
				projects && projects.length ? projects.map((project: ProjectType) => (
					<Project
						title={project.title}
						location={project.location}
						images={project.gallery?.images}
					/>
				)) : 'Sem projetos'
			}
		</div>
	</main>
</HomeLayout>

<style>
	.project-list {
		display: flex;
		flex-direction: column;
		gap: var(--sl-spacing-x-large);
	}
</style>
