<footer class="c-footer">
  <p>Copyright @ 2024. Todos os direitos reservados</p>
</footer>

<style>
.c-footer {
  margin-block-start: var(--sl-spacing-x-large);
  padding: var(--sl-spacing-medium);
  background-color: var(--sl-color-neutral-700);
  color: var(--sl-color-neutral-0);
  text-align: center;
}
</style>